<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <h1>Recipe List</h1>
    <ul>
        <li>
            <a href="/recipe1">Recipe 1</a>
        </li>
        <li>
            <a href="/recipe2">Recipe 2</a>
        </li>
        <li>
            <a href="/recipe3">Recipe 3</a>
        </li>
        <li>
            <a href="/recipe4">Recipe 4</a>
        </li>
        <li>
            <a href="/recipe5">Recipe 5</a>
        </li>
    </ul>


    <!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->

</body>
</html>