<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Grilled Tilapia Piccata</h1>
    <p>
        1 cup panko (Japanese) bread crumbs
        2 tablespoons olive oil
        2 tablespoons snipped fresh dill
        1/4 teaspoon salt
        1/8 teaspoon pepper
        4 tilapia fillets (6 ounces each)
        1 tablespoon lemon juice
        Lemon wedges
    </p>
    <img src="img/gtp.jpg" alt="Grilled Tilapia Piccata">


    <br/>
    <a href="/">return to recipe list</a>

<!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
</body>
</html>