<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Asian Ramen Shrimp Soup</h1>
    <p>
        3-1/2 cups water
        1 package (3 ounces) Oriental ramen noodles
        1 cup cooked small shrimp, peeled and deveined
        1/2 cup chopped green onions
        1 medium carrot, julienned
        2 tablespoons soy sauce
    </p>
    <img src="img/arss.jpg" alt="Asian Ramen Shrimp Soup">

    <br/>
    <a href="/">return to recipe list</a>

<!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
</body>
</html>