<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Spinach Garlic Pasta</h1>
    <p>
        2 salmon fillets (6 ounces each), skin removed
        1/4 teaspoon salt
        1/4 teaspoon pepper
        3 tablespoons quick-cooking oats, crushed
        3 tablespoons finely chopped walnuts
        2 tablespoons olive oil
    </p>
    <img src="img/sgp.jpg" alt="Spinach Garlic Pasta"/>

    <br/>
    <a href="/">return to recipe list</a>

    <!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
</body>
</html>